.App{
  display:grid;
  grid-template-columns: 135px 1fr;
  grid-template-rows: 20vh 1fr;
  min-height: 100vh;
}
.headerr{
  grid-column-start: 2;
  grid-column-end: 3;
   position:sticky;
    top:0;
    left:200px;
 
}
.sidebar{
  background:#F8FAF5;
  grid-row-start: 1;
  grid-row-end:3;
  

}
.valet{
  /* background:cyan; */

}